a:link {color:#0f30ac !important;text-decoration: underline;}
a:hover {color:#006cff !important;text-decoration: underline;}
a:visited {color:#858585 !important;text-decoration: underline;}
a:active {color:#ff3232 !important;text-decoration: underline;}